<div class='homepage'>
  <div class='form'>
    <form id='address-input' action='/searches' method='POST'>
    <input type='text' name='search[query]' placeholder='Address'>
    <input type='submit' value='Enter the Upside Down'>
    </form>
  </div>
  <div id='original-img'>
  </div>
  <div id='upside-down-img'>
  </div>
</div>
